@page "{id:int}"
@model TqPerformanceEvaluationHr.Web.Pages.Positions.DeleteModel
@{
    ViewData["Title"] = "Eliminar Cargo";
}

<h1>Eliminar Cargo</h1>

<h3>¿Estás seguro de que deseas eliminar este cargo?</h3>
<div>
    <h4>@Model.Position.Name</h4>
</div>

<form method="post">
    <input type="hidden" asp-for="Position.Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
