@page
@model TqPerformanceEvaluationHr.Web.Pages.EvaluationModels.IndexModel
@{
    ViewData["Title"] = "Modelos Evaluativos";
}

<h1>Modelos Evaluativos</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Crear nuevo</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EvaluationModels)
{
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
